Vagrant.configure("2") do |config|

    config.vm.box = "precise64"
    config.vm.box_url = "http://files.vagrantup.com/precise64.box"

    config.vm.network :private_network, ip: "192.168.33.101"

    config.vm.synced_folder "./", "/vagrant", id: "vagrant-root"

    config.vm.provision :puppet do |puppet|
	#is recommended that you use a customized default.pp manifest file, but you can use vagrantee default for a basic environment
        puppet.manifests_path = "vagrantee/puppet/manifests"
        puppet.module_path = "vagrantee/puppet/modules"
        puppet.options = ['--verbose']
    end

end
